* {
  font-family: "Parisienne", cursive;
  font-weight: 600;
  font-style: normal;
}

.green {
    color: green;
    font-size: 16px;
    margin-top: 25px;
}

.blue {
    color: blue;
    margin: 0px;
}
hr {
    height: 1.5px;
    width: 800px;
    border-color: black;
    background-color: black;
    margin-left: 0;
    margin-top: 60px;
}

h4 {
    margin: 0.5px;
}

p {
    margin:0%;
}

.paragraph {
    margin-top: 20px;
}

